MARIADB_USER=your_db_user
MARIADB_PASSWORD=your_db_password
MARIADB_URL=mysql+pymysql://your_db_user:your_db_password@127.0.0.1:3307/crop_db
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
REGISTERED_MODEL_NAME=crop_recommendation_model
